/* 2 per row */
@media screen and (min-width: 1px) and (max-width: 414px) {
	.directory,
	.file {
		min-width: 49%;
		margin: 0.5%;
	}
}

/* 3 per row */
@media screen and (min-width: 415px) and (max-width: 767px) {
	.directory,
	.file {
		min-width: 32.5%;
		margin: 0.4%;
	}
}

/* 4 per row */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.directory,
	.file {
		min-width: 24%;
		margin: 0.5%;
	}
}

/* 5 per row */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
	.directory,
	.file {
		min-width: 19%;
		margin: 0.5%;
	}
}

/* 6 per row */
@media screen and (min-width: 1366px) and (max-width: 1679px) {
	.directory,
	.file {
		min-width: 16.4%;
		margin: 0.13%;
	}
}

/* 8 per row */
@media screen and (min-width: 1680px) and (max-width: 1919px) {
	.directory,
	.file {
		min-width: 12.2%;
		margin: 0.15%;
	}
}

/* 10 per row */
@media screen and (min-width: 1920px) and (max-width: 2559px) {
	.directory,
	.file {
		min-width: 9.8%;
		margin: 0.1%;
	}
}

/* large monitor */
@media screen and (min-width: 2560px) {
	.directory,
	.file {
		min-width: 250px;
		margin: 3px;
	}
}
